body {
  /*background-color: #696969;*/
 }


a:visited {
  color: white;
}

a:hover, .entryLink:hover{
  color: yellow;  
}

li {
  display: inline-flex;
  text-align: left;
  padding-right: 8px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}


/*a:link {
  color: yellow;
}
*/

/*keep classNames in alphabetical order */
.app {
  background-color: #ccc8c8;
}

/*.app.a.hover {   
  color: yellow; 
 } same as a: hover, just experimenting*/ 

.app-header {
  padding: 1em;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title {
  margin: 5px;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-card {
  margin-bottom: 50px;
}

.entry-list, .mourner-list, .profile-list, .story-header {
  display: inline;
  text-align: left;
  margin: 5px;
  color: white;
}

/* use this when fixing buttons on show page  */
.entry-card-buttons-horizontal {
  display: inline-block;
  padding: 20px;  
  margin: 20px;
}

/*signup */
.input-field{
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

.memory-cards {

}
/*check difference between these two */
.nav-bar {
  display: inline-block;  
  margin: 5px;
}

.navbar {
  color: '#C0C0C0' /* gray */
}

.welcome {
  margin: 5px;
}